main {
    margin-top: 128px;
    padding: 0 90px;
    width: 100%;
}

header {
    display: flex;
    padding: 16px 90px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
}

header h1 {
    font-size: 24px;
    font-weight: 500;
}

.inputSearch {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 16px 32px;
    background-color: #F5FDF4;
    border-radius: 50px;
}

.inputSearch input {
    background-color: inherit;
    outline: none;
    border: none;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
}

.headerNav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.headerNav img {
    width: 64px;
    height: 64px;
    border-radius: 100px;

}

 .headerCTA {
    border: none;
    color: black;
    padding: 16px 32px;
    background-color: #39E168;
    border-radius: 50px;
    cursor: pointer;
}

.unfollow {
    background-color: #e23535;
}

.unfollow:hover {
    background-color: #2B2626;
}


#closeModal {
     background-color: #e23535;
 }
 #closeModal:hover {
     background-color: indianred;
 }

 .headerCTA:hover {
    background-color: #2B2626;
}

#createModal {
    position: absolute;
    right: 25%;
    top: 25%;
    z-index: 2;
    padding: 16px 32px;
    background-color: #7D7373;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    gap: 16px;
}

#createModal div {
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin-bottom: 16px;
}

.hide {
    visibility: hidden;
}